@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #56C5F5;
    --white: #FFF;
    --grey: #C5C5D2;
    --darkgrey: #9E9EA8;
    --black: #25356A;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

/* All pages navigation */
.navigation {
    position: fixed;
    letter-spacing: 3px;
    width: 250px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

    .navigation.active {
        width: 80px;
    }

    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

        .navigation ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

            .navigation ul li:hover,
            .navigation ul li.hovered,
            .navigation ul li.logout:hover,
            .navigation ul li.logout.hovered {
                background-color: var(--white);
            }

                .navigation ul li:hover a,
                .navigation ul li.hovered a {
                    color: var(--blue);
                }

            .navigation ul li:nth-child(1) {
                margin-bottom: 40px;
                margin-top: 2px;
                pointer-events: none;
            }

            .navigation ul li a {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: var(--white);
            }

            .navigation ul li a .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 75px;
                text-align: center;
            }

                .navigation ul li a .icon ion-icon {
                    font-size: 1.75rem;
                }

            .navigation ul li a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: nowrap;
            }

            .navigation ul li.logout {
                position: relative;
                width: 100%;
                list-style: none;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }

                .navigation ul li.logout a .icon {
                    position: relative;
                    display: block;
                    min-width: 60px;
                    height: 60px;
                    line-height: 75px;
                    text-align: center;
                    color: var(--black);
                    transition: transform 0.3s ease-in-out;
                }

                .navigation ul li.logout a .icon ion-icon {
                    font-size: 1.75rem;
                    color: var(--black);
                }


            .navigation ul li.logout a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: nowrap;
                color: var(--black);
            }

            .navigation ul li:hover a::before,
            .navigation ul li.hovered a::before {
                content: "";
                position: absolute;
                right: 0;
                top: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                box-shadow: 35px 35px 0 10px var(--white);
                pointer-events: none;
            }

            .navigation ul li:hover a::after,
            .navigation ul li.hovered a::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: -50px;
                width: 50px;
                height: 50px;
                background-color: transparent;
                border-radius: 50%;
                box-shadow: 35px -35px 0 10px var(--white);
                pointer-events: none;
            }

/* Dashboard - Main  */
.main {
    position: absolute;
    width: calc(100% - 255px);
    left: 255px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

    .main.active {
        width: calc(100% - 80px);
        left: 80px;
    }

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
}

.search {
    position: relative;
    width: 800px;
    margin: 0 10px;
    margin-top: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
}

    .search label {
        position: relative;
        width: 100%;
    }

        .search label input {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 5px 20px;
            padding-left: 35px;
            font-size: 18px;
            outline: none;
            border: 1px solid var(--black2);
        }

        .search label ion-icon {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 1.2rem;
        }

.text {
    color: var(--grey);
    font-size: 1.2rem;
    margin-top: 10px;
}

.textProfile {
    color: var(--grey);
    font-size: 1.2rem;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.user {
    position: relative;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    right: 10px;
    cursor: pointer;
}

    .user img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* Dashboard - Cards  */
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

    .cardBox .card {
        position: relative;
        background: var(--white);
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    }

    .cardBox .cardText {
        position: relative;
        background: var(--blue);
        padding: 30px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    }

        .cardBox .card .numbers {
            position: relative;
            font-weight: 500;
            font-size: 2.5rem;
            color: var(--blue);
        }

        .cardBox .card .cardName {
            color: var(--black);
            font-size: 1.2rem;
            margin-top: 5px;
        }

        .cardBox .cardText .cardName {
            color: var(--white);
            font-size: 1.2rem;
            margin-top: 12px;
        }

        .cardBox .cardText .text {
            position: relative;
            font-weight: 500;
            font-size: 1.1rem;
            color: var(--white);
        }

        .cardBox .card .iconBx {
            font-size: 3.5rem;
            color: var(--black);
        }

        .cardBox .card:hover {
            background: var(--blue);
        }

            .cardBox .card:hover .numbers,
            .cardBox .card:hover .cardName,
            .cardBox .card:hover .iconBx {
                color: var(--white);
            }

/* Dashboard - Quiz Cards  */
.quizCard {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    cursor: pointer;
}

    .quizCard img {
        width: 400px;
        height: 400px;
        margin-left: 30px;
        margin-top: 20px;
        object-fit: cover; 
        border-radius: 20px 0 0 20px;
    }

    .quizCard .quizCardContent {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .quizCard .quizCardContent a {
        align-items: flex-end;
        margin-left: auto;
    }

        .quizCard .quizCardContent h2 {
            font-weight: 500;
            font-size: 2.5rem;
            color: var(--blue);
            margin-bottom: 5px;
        }

        .quizCard .quizCardContent p {
            color: var(--black);
            font-size: 1rem;
            text-align: justify;
        }

        .quizCard .quizCardContent button {
            padding: 7px 20px;
            font-size: 1.2rem;
            background-color: var(--black);
            color: var(--white);
            border: none;
            border-radius: 10px;
            cursor: pointer;
            letter-spacing: 3px;
            margin-top: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

            .quizCard .quizCardContent button:hover {
                transform: scale(1.1);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            }

/* Support Card */
.supportCard {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    display: flex;
    cursor: default;
}

    .supportCard img {
        width: 450px;
        height: 450px;
        border-radius: 0 20px 20px 0;
    }

.supportCardContent {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

    .supportCardContent h2 {
        font-weight: 500;
        font-size: 2.5rem;
        color: var(--blue);
        margin-bottom: 5px;
    }

    .supportCardContent p {
        color: var(--black);
        font-size: 1rem;
        text-align: justify;
    }


/* Chat - Section */
.chatCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: var(--black);
}

.chatCardContent {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.user-input {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}

    .user-input input {
        flex: 1;
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid var(--blue);
    }

        .user-input input:focus {
            border-color: var(--black);
            border-width: 2px;
            outline: none;
        }

        .user-input button {
            padding: 10px 15px;
            background-color: var(--black);
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 1px;
        }

            .user-input button:hover {
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
            }

/* Profile - Section */
.profileCardsContainer {
    display: flex;
}

.userDetailsCard {
    width: 46%;
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 20px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.editProfileCard {
    width: 46%;
    margin-bottom: 10px;
    margin-top: 8px;
    margin-left: 60px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: default;
}

    .userDetailsCard img {
        width: 80%;
        margin: 0 auto;
        display: block;
        border-radius: 20px 20px 0 0;
        margin-top: 20px;
        max-height: 400px;
        max-width: 400px;
    }

    .userDetailsCard .profileCardContent,
    .editProfileCard h2 {
        padding: 20px;
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .userDetailsCard h2 {
        font-weight: 500;
        font-size: 2.5rem;
        color: var(--blue);
        margin-bottom: 5px;
    }

    .userDetailsCard p {
        color: var(--black);
        font-size: 1rem;
        text-align: justify;
        margin-bottom: 5px;
    }

    .editProfileCard form {
        color: var(--black);
        margin-top: 50px;
        margin-left: 40px;
        margin-bottom: 30px;
    }

    .editProfileCard label {
        margin-bottom: 10px;
        width: calc(100% - 39px);
    }

    .editProfileCard input,
    .editProfileCard select {
        padding: 10px;
        margin-bottom: 16px;
        border-radius: 5px;
        border: 1px solid var(--blue);
        width: calc(100% - 39px);
    }

        .editProfileCard input:focus,
        .editProfileCard select:focus {
            border-color: var(--black);
            border-width: 2px;
            outline: none;
        }

        .editProfileCard button {
            margin-left: auto; 
            padding: 10px 15px;
            background-color: var(--black);
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 1px;
            margin-top: 10px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

            .editProfileCard button:hover {
                transform: scale(1.1);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            }            

/* Responsive Design */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkgrey);
    }

::-webkit-scrollbar-track {
    background-color: var(--white);
}

        @media (max-width: 991px) {
            .navigation {
                left: -300px;
            }

                .navigation.active {
                    width: 300px;
                    left: 0;
                }

            .main {
                width: 100%;
                left: 0;
            }

                .main.active {
                    left: 300px;
                }

            .cardBox {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 480px) {
            .cardBox {
                grid-template-columns: repeat(1, 1fr);
            }

            .cardHeader h2 {
                font-size: 20px;
            }

            .user {
                min-width: 40px;
            }

            .navigation {
                width: 100%;
                left: -100%;
                z-index: 1000;
            }

                .navigation.active {
                    width: 100%;
                    left: 0;
                }

            .toggle {
                z-index: 10001;
            }

            .main.active .toggle {
                color: #fff;
                position: fixed;
                right: 0;
                left: initial;
            }
        }
